<% include header.html %>

<h1>Welcome to the horizon of games</h1>
<h2>
    This is a game which is named as ZigZag, a challenging game which is very fun to play and required basic skill to play. The game is consist of a player where user will try to survive on his own to make his way all the way to top in the leader-board. User will be able to challenge any registered player in one to one battle where the winner will be chosen on the basis of high-score. So, good luck ! Have fun and enjoy.
</h2>
<form action="/users/news" method="post">
</form>
<% include footer.html %>