<% include header.html %>
<% if(user){ %>

<h1>
    <div class="welcome">
        <p class="navbar-right navbar-text"><a href="/">Welcome  <%= user.username %></a></p>
    </div>
    <div>
        Please, allow the pop-up and login email through firebase to play the game!
    </div>

</h1>

<h2><!--<script type ="text/javascript" src ="../engine/engine.js"/>-->
    <script src="/js/phaser.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="/js/game.js"></script>

</h2>
<h3>
    Reviews
</h3>
<ul class="list-group">
    <% articles.forEach((article)=>{ %>
    <a href="/article/<%= article._id %>">
        <li class="list-group-item">
            <%= article.title %>
        </li>
    </a>
    <% });  %>
</ul>
<% }else{ %>
<div></div><h1>Log In to Play the Game</h1>
<p>
    Welcome to the online gaming portal named ZigZag. It is a online gaming platform where only registered users can play the game and have fun! The game is compatible with almost all the popular browser like firefox, chrome and so on. please, find the controlling of the game from the instruction page. So, run with your exciting time.
</p></div>
<div>

    <img src="/images/Zigzag.png" height="368" width="600"/></div>
<% } %>
<!--<% include footer.html %>-->
