<% include header.html %>
    <% if(user){ %>
        <h1>
            You can play now!
        </h1>

        <h2>
            <iframe src="http://localhost:63342/ZigZag/index.html?_ijt=em6mbea5b9rtitefmg8hv4fcpb" width="1200" height="600"></iframe>
        </h2>
        <h3>
            Reviews
        </h3>
        <ul class="list-group">
            <% articles.forEach((article)=>{ %>
                <a href="/article/<%= article._id %>">
                    <li class="list-group-item">
                        <%= article.title %>
                    </li>
                </a>
                <% });  %>
        </ul>
        <% }else{ %>
            <h1>Log In to Play the Game</h1>
            <% } %>
<% include footer.html %>