<% include header.html %>

<h1>Welcome to the news section</h1>
<h2>
    The game ZigZag is apparently the brand new inclusion in the hurdle passing section of game. ZigZag is now one of the best game in this particular criteria. This game pays attention to the user or player satisfaction with having a very easy user control of the game. There are also some other games which are popular from the different criteria like Clash of clans, League of legends and so on.
</h2>
<form action="/users/news" method="post">
</form>
<% include footer.html %>