<!DOCTYPE html>
<html>
	<head>
		<title>Chat</title>
		<link rel = "stylesheet" href = "/css/main.css">
	</head>
	
	<body>
		<div class = "chat">
			<input type = "text" class = "chat-name" >
			<div class = "chat-messages">
			
				<!--overall chat in here-->
				<div class = "my_message">
				</div>
			</div>
			
			<textarea id = "textarea_message" placeholder = "Type your message:"></textarea>
			
			<div class = "chat-status">Status: <span id ="thespan">
				Idle</span>
			</div>
		
		</div>
		
		<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    		<script src="/js/myscripts.js"></script>
		
		
	</body>

</html>


